
  #f5,#f9,#f11 {
    width:10%;
    padding:16px;
    border-radius:10px;
    margin:auto;
    margin-left: 45%;
    background-color:#ccc;
    margin-bottom: 50px;
  }

  li {list-style:none;}



  #f6,#f10,#f12 {
    width:100%;
    padding:16px;
    border-radius:10px;
    margin-top: 120px;
    margin-left:0px ;
    margin-right: 0px;
    background-color:#ccc;
    padding-top:10px;
  }
  
  div{
    width:600px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color:#ccc;
  }


  div label{
    width:250px;
    font-weight:bold;
    display:inline-block;
  }
  
  div input
  {
    width:300px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    display:inline-block;
  }
  
    

  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }


  div select
  {
    width:320px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    display:inline-block;
    margin-bottom: 5px;
    
    
  }
     
  #f2,#f3,#f4,#f5,#f6,#f7,#f8,#f9,#f10,#f11,#f12{
  
    visibility: hidden;
  }
  
  
.posicion{


  position: absolute;
  margin-top: 20px;
  margin-left: 420px;

}

.posicion2{
  position: absolute;
  margin-top: 20px;
  margin-bottom: 30px;
  
}s

.posicion3{
  position: absolute;
  margin-top: 700px;
  margin-left: 20px;
}


  
  div button{
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#fff;
    background-color:#000;
  } 
  
 


  #f5 button,#f9 button,#f11 button{
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#fff;
    background-color:#000;
  } 


  td {

width: 200px;
text-align: left;

  }


  tr{

width: 100%;

  }

  div button:hover{
    cursor:pointer;
  }