
/* Parte del css esta cogido de internet, para el plugin de los alert y para la consulta*/

  
.divx1{
 
    background-color: #ff8000;
    }

    
  .dv{
    width:400px;
    padding:16px;
    border-radius:90px;
        margin:auto;
    background-color:rgb(223, 228, 231);
    
  }

  #di5{
    width:400px;
    padding:16px;
    border-radius:90px;
margin-bottom:30px ;
margin-top:15px ;
margin-left:35% ;
background-color:rgb(255, 255, 255);


  }

  #di7 {
    position: absolute;
	top: 55%;
	

  }

  #di8 {
    position: absolute;
	top: 64%; 

  }


  #l1{
 width: 180px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
    margin-left: 23%;
  }


#ima1 {
width: 50%;
height: 50%;
margin-left: 25% ;
}

#ima2 {
    width: 100%;
    height: 100%;
    
    }



    .dv h1{

     margin-left: 27%;
  }

  #p2{

    margin-left: 34%; 
  }

  .dv label{
    margin-left: 30%;
    width:250px;
    font-weight:bold;
    display:inline-block;
  }
  
  .dv input
  {
    
    width:300px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    display:inline-block;
    margin-left:12%;
  }
  
    

  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }


  .dv select
  {
    width:320px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:31px;
    background-color:#e4dada;
    margin:8px 0;
    display:inline-block;
    margin-bottom: 5px;
    
    
  }
   
 
  
.posicion{


  position: absolute;
  margin-top: 20px;
  margin-left: 420px;

}



  
.dv button{

    width: 25%;
    margin-top: 15%;
    margin-left: 38%;
    /* Color del texo */
color: #0099CC;
/* Eliminar color de fondo */

background-color: #9798a0;

/* Grosor del borde, estilo de línea y color */
border: 3px solid #010202;
/* Añadir esquinas curvadas */
border-radius: 6px;
/* Poner texto en mayúsculas */
border: none;
      color: rgb(253, 253, 253);
      padding: 8px 16px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
  } 
  
 #button2,#button3,#button4{
    width: 30%;
    margin-top: 5%;
    margin-left: 36%;
    border-radius: 30px;
 }

#button5,#button6,#button7,#button8,#button14,#button11,#button10{
    width: 35%;
    margin-top: 5%;
    margin-left: 32%;
    border-radius: 30px;
 }

#i12{

  width: 40px;
  margin-left: 0%;
}
  
#di8{

  background-color: white;
}


 .dv button:hover{
    background-color: #008CBA;
    color: white;
  }



  .contenedor{
    
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
    
  }

  table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }


  th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
  margin-left: 10%;
	text-align: center;
}

thead th {
		background-color: #55608f;
	}


tbody tr :hover {
			background-color: rgba(255,255,255,0.3);
		}
	
	td 
	
		:hover 
			:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		
	
